<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete employee</title>
</head>
<body>
<h1>Delete employee</h1>
<h2>Are you sure?</h2>
<p>
    <a href="/employees">Employee list</a>
</p>
<form th:action="@{/delete-employee}" th:object="${employee}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>First name:</td>
            <td th:text="${employee.firstName}"></td>
        </tr>
        <tr>
            <td>Last name:</td>
            <td th:text="${employee.lastName}"></td>
        </tr>
        <tr>
            <td>Date of Birth:</td>
            <td th:text="${employee.birthDate}"></td>
        </tr>
        <tr>
            <td>Address:</td>
            <td th:text="${employee.address}"></td>
        </tr>
        <tr>
            <td>Avatar:</td>
            <td th:text="${employee.avatar}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Delete customer"></td>
        </tr>
    </table>
</form>
</body>
</html>